name: Run tests

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Poetry
        run: |
          pipx install poetry

      - name: Setup Python
        id: setup_py
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: poetry

      - name: Poetry install
        run: |
          poetry lock --check  # check that lockfile is up to date
          poetry install --with test,dev --extras annlibs

      - name: Run test suite
        run: |
          poetry run pytest -v --color=yes

      - name: Run formatter
        run: |
          poetry run black --check .

      - name: Run style checks
        run: |
          poetry run ruff .

  check: # TODO: replace with pre-commit.ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: pip
      - uses: pre-commit/action@v3.0.0
