name: Run tests

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Poetry
        run: |
          pipx install poetry

      - name: Setup Python
        id: setup_py
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'poetry'

      - name: Poetry install
        run: |
          poetry lock --check
          poetry install --with test,dev --extras annlibs

      - name: Run test suite
        run: |
          poetry run pytest -v --color=yes

      - name: Run black
        run: |
          poetry run black --check .

      - name: Run flake8
        run: |
          poetry run ruff .
